form{
    background-color: hotpink;
    width: 60%;
    margin: auto;
}
table{
    margin: auto;
}
td{
    border: 1px wheat solid;
}
h3{
    background-color: rgb(106, 204, 13);
    width: 90%;
    margin: auto;
    text-align: center;
}
p{
    text-align: center;
}
button{
    margin-left: 45%;
    
}